<mat-table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8"
>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>
      ID
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef>
      Lastname
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <mat-header-cell *matHeaderCellDef>
      Date of Birth
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dateOfBirth | date }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      Actions
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="actions-container">
        <button mat-mini-fab aria-label="edit" (click)="emitEditCustomer(element)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab aria-label="delete" (click)="emitDeleteCustomer(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
