.login-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 52px;

  h1 {
    color: rgb(209, 194, 203);
  }
}
